.menu{

    background-color: #000;
   width: 100%;
    height: 120px;
    overflow: hidden;

}
.menutop{

    width: 70%;
    float: right;
    color: rgba(239,239,239,1);
    font-size: 27px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.menutop div{
    float: right;
    margin: 40px 16px 10px 3px;

}
.menutop div:hover{
   color: #f3c930;
   cursor: pointer;

}
.logo {
    font-size: 47px;
    font-weight: bolder;
    color: white;
    float: left;
    margin: 30px 10px;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    text-shadow: 10px -6px 14px #f3c930;
    letter-spacing: 15px;
    cursor: pointer;

} 
.log{
    float: right;
    margin-top: 50px;
    
    margin-right: 5px;
    
   
}
.log span:nth-child(1){
    color: rgba(239,239,239,1);
    font-size: 27px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.log span:nth-child(1):hover{
    color: #f3c930;
    cursor: pointer;
} 
.login{
    display: none;
    width: 30%;
    right: 35%;
    height: 80%;
   
    position: absolute;
    z-index: 1000;

}
.fa-times{
    font-size: 30px;
    color: #000;
    float: right;
}
.fa-times:hover{

    opacity: .8;
    cursor: pointer;
   }
.form{
    display: none;
    width: 100%;
    padding: 40px 40px 48px;
    background-color: #FFF;
    height:390px;
    border-radius: 4px;
    box-shadow: black 0px 0px 12px 7px;
    position: relative;
}

.login input:nth-child(3),input:nth-child(4),input:nth-child(5){
    width: 100%;
    margin: 0;
    padding: 0 0 0 6px;
    height: 40px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    font-size: 20px;   
    margin-top: 10px; 
}

.forget{
    font-size: 15px;
    margin-top: 10px;
}
.apply{
    background-color: #f3c930;
    margin-top: 15px;
    color: #000;
    font-size: 20px;
    height: 44px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    
}
.apply:focus{
    outline: none;
}
.apply:hover{
    background-color: #a38002;
}

.form2{
    width: 100%;
    padding: 40px 40px 48px;
    background-color: #FFF;
    height:390px;
    border-radius: 4px;
    box-shadow: black 0px 0px 12px 7px;
    position: relative;
}
.account{
    font-size: 16px; 
display: inline-block;
    margin-right: 3px;
}
.account2{
    font-size: 16px; 
    display: inline-block;
    margin-right: 3px;
}


#signup{
    font-size: 18px; 
    color:#f3c930;
    font-weight: 900;
}
#signin{
    font-size: 18px; 
    color:#f3c930;
    font-weight: 900;
}

.apply2{
    background-color: #f3c930;
    margin-top: 15px;
    color: #000;
    font-size: 20px;
    height: 44px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    
}
.apply2:focus{
    outline: none;
}
.apply2:hover{
    background-color: #a38002;
}

.head{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
#right{
    left: 88%;
}
#left{
    right:  88%;
}
#right,#left{
    font-weight: 900;
    position: absolute;
    padding: 20px;
    color: #141414;
    font-size:37px;
    top:350px;
    z-index: 100;
    background-color: #fff9f956;
    border-radius: 30%;
}
.slides{
    width: 100%;
    height: 600px;
    float: left;
    position: relative;
  
}



.slides img{
    width: 100%;
    height: 600px;
    position: absolute;
    display: none;

    
}
.wordcenter{
    font-size: 30px; 
    color: #fff;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding: 20px 10px;
    text-align: center;
}
.design{
    height: 350px;
    
}

.dropbtn {
    margin-left: 16px;
    background-color: #f3c930;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
  }
  
  .dropdown-content div{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content div:hover {
      background-color: #aaa6a6;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #a38002;
  }  

  .cardesign{
      float: right;
      width: 50%;
      height: 300px;
      position: relative;
      margin-right: 5px;
  }
  .car1,.car2,.car3,.car4,.car5,.car6,.car7,.car8,.car9,.car10,.car11,.car12,
  .car13,.car14,.car15,.car16{
      display: none;
      position: absolute;
    
  }
  .details{
      font-size: 25px;
      color: #fff;
      font-weight: 900;

  }
  .img{
      width: 90%;
      height: 250px;
  }
  .kiasize, .mercedsize, .audisize, .bmwsize{
      display: none;
  }

  .colorkiam,.colorkiaf,.colormercedm,.colormercedf,.coloraudim,.coloraudif,.colorbmwm,.colorbmwf{
      display: none;
  }
  .buy{
      float: right;
      width: 180px;
      height: 60px;
      background-color: #f3c930;
      border-radius: 20px;
      font-size: 26px;
      font-weight: 700;
      text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    margin-right: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
    visibility: hidden;
  }
  .buy:hover{
      background-color: #a38002;
      cursor: pointer;

  }
  .buy:focus{
      border: none;
      outline: none;
  }
  .soon{
      width: 90%;
      height: 500px;
      margin: auto ;
      position: relative;
      top: 70px;
  }
  .carsoon{
      width: 100%;
    height: 100%;
      top: 20px;
      border-radius: 4px;
  }
  .wordsoon{
      position: absolute;
      font-size: 30px;
      font-weight: 500;
      color: black;
      top: 80px;
      left: 10px;
      letter-spacing: 12px;
      text-transform: uppercase;


  }
  
  .footer{
    background-color: #1e1e1e;
    width: 100%;
    height: 130px;
    float: left;
    position: relative;
    top: 253px;
    
    }
    .sizefoot{
    float: right;
    width: 90%;
    height: 130px;
    } 
    .sizefoot div:nth-child(1){
    float: left;
    width: 30%;
    color: white;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    
    
    }
    .fonts{
    float: right;
    
    }
    .fonts i{
    color: #efefef;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 8px;
    
    
    }
    .fonts i:hover{
    color: black;
    
    }
    
    .fonts a:nth-child(4){
    margin-right: 50px;
    }
@media only screen and (max-width: 900px)
 {
    .menu{
        float: left;
        background-color: rgb(0, 0, 0);
       width: 99%;
        height: 100px;
    }
    .logo {
        font-size: 30px;
        font-weight: bolder;
        color: white;
        float: left;
        margin: 20px 3px 0px 3px;
        font-family: 'Cinzel', serif;
        text-decoration: none;
        text-shadow: 10px -6px 14px #f3c930;
        letter-spacing: 15px;
    
    }  
    
    .menutop{

        width: 70%;
        float: right;
        color: rgba(239,239,239,1);
        
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
    }
    .menutop div{
        float: right;
        font-size: 20px;
        margin: 20px 10px 0px 3px;
    
    }
    .menutop div:hover{
       color: #f3c930;
       cursor: pointer;
    
    }
.login{
    display: none;
    width: 50%;
    right: 35%;
    height: 80%;
    position: absolute;
    z-index: 1000;

}
.fa-times{
    font-size: 30px;
    color: #000;
    float: right;
}
.fa-times:hover{

    opacity: .8;
    cursor: pointer;
   }
.form{
    display: none;
    width: 100%;
    padding: 40px 40px 48px;
    background-color: #FFF;
    height:390px;
    border-radius: 4px;
    box-shadow: black 0px 0px 12px 7px;
    position: relative;
}

.login input:nth-child(3),input:nth-child(4),input:nth-child(5){
    width: 100%;
    margin: 0;
    padding: 0 0 0 6px;
    height: 30px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    font-size: 13px;   
    margin-top: 10px; 
}

.forget{
    font-size: 15px;
    margin-top: 10px;
}
.apply{
    background-color: #f3c930;
    margin-top: 15px;
    color: #000;
    font-size: 16px;
    height: 37px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    
}
.apply:focus{
    outline: none;
}
.apply:hover{
    background-color: #a38002;
}

.form2{
    width: 100%;
    padding: 40px 40px 48px;
    background-color: #FFF;
    height:390px;
    border-radius: 4px;
    box-shadow: black 0px 0px 12px 7px;
    position: relative;
}

#signup{
    font-size: 14px; 
    color:#f3c930;
    font-weight: 900;
}
#signin{
    font-size: 14px; 
    color:#f3c930;
    font-weight: 900;
    display: block;
}
.account{
    font-size: 14px; 
display: inline-block;
    margin-right: 3px;
}
.account2{
    font-size: 14px; 
    display: inline-block;
    margin-right: 3px;
}




.apply2{
    background-color: #f3c930;
    margin-top: 15px;
    color: #000;
    font-size: 20px;
    height: 44px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    
}
.apply2:focus{
    outline: none;
}
.apply2:hover{
    background-color: #a38002;
}

    .head{
        width: 100%;
        height: 400px;
        
        overflow: hidden;    
    
    }
    #right{
        left: 86%;
    }
    #left{
        right:  86%;
    }
    #right,#left{
        font-weight: 900;
        position: absolute;
        padding: 16px;
        color: #141414;
        font-size: 30px;
        top: 250px;
        z-index: 100;
    }
    
    
    .slides{
        width: 100%;
        height: 400px;
        position: relative; 
    }
    .slides img{
        width: 103%;
        height: 400px;
       position: absolute;
        
    }
    
    .search{
        width: 100%;
        height: 75px;
        background-color: #141414;
        }
        .search input{
        width: 70%;
        height: 30px;
        position: relative;
        margin-top: 20px;
        background-color: #ececec;
        border-color:#9b9b9b ;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        }
        
        .search i{
        position:relative;
        font-weight: 900;
        right:  3.5%;
        font-size: 24px;
        color: #333333;
        cursor: pointer;
        }
        .search input:focus{
            outline: none;
        }
        .wordcenter{
            font-size: 25px; 
            color: #fff;
            text-transform: capitalize;
            font-family: 'Roboto', sans-serif;
            padding: 20px 10px;
            text-align: center;
        }
        .design{
            height: 300px;
            
        }
        
        .dropbtn {
            margin-left: 16px;
            background-color: #f3c930;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 4px;
          }
          
          .dropdown-content div{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .dropdown-content div:hover {
              background-color: #aaa6a6;
            }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
          
          .dropdown:hover .dropbtn {
            background-color: #a38002;
          }  
        
          .cardesign{
              float: right;
              width: 50%;
              height: 200px;
              position: relative;
              margin-right: 5px;
          }
          .car1,.car2,.car3,.car4,.car5,.car6,.car7,.car8,.car9,.car10,.car11,.car12,
          .car13,.car14,.car15,.car16{
              display: none;
              position: absolute;
            
          }
          .details{
              font-size: 25px;
              color: #fff;
              font-weight: 900;
        
          }
          .img{
              width: 90%;
              height: 200px;
          }
          .kiasize, .mercedsize, .audisize, .bmwsize{
              display: none;
          }
        
          .colorkiam,.colorkiaf,.colormercedm,.colormercedf,.coloraudim,.coloraudif,.colorbmwm,.colorbmwf{
              display: none;
          }
          .buy{
              float: right;
              width: 120px;
              height: 50px;
              background-color: #f3c930;
              border-radius: 17px;
              font-size: 21px;
              font-weight: 700;
              text-transform: capitalize;
            font-family: 'Roboto', sans-serif;
            margin-right:20px;
            border: none;
            outline: none;
            cursor: pointer;
            margin-bottom: 10px;
            visibility: hidden;
          }
          .buy:hover{
              background-color: #a38002;
              cursor: pointer;
        
          }
          .buy:focus{
              border: none;
              outline: none;
          }
          .soon{
              width: 95%;
              height: 300px;
              margin: auto ;
              position: relative;
              top: 70px;
          }
          .carsoon{
              width: 100%;
            height: 100%;
              top: 20px;
              border-radius: 4px;
          }
          .wordsoon{
              position: absolute;
              font-size: 24px;
              font-weight: 500;
              color: black;
              top: 80px;
              left: 10px;
              letter-spacing: 10px;
              text-transform: uppercase;
        
        
          }
          
          .footer{
            background-color: #1e1e1e;
            width: 99%;
            height: 130px;
            float: left;
            overflow: hidden;
            
            }
            .sizefoot{
            float: right;
            width: 90%;
            height: 130px;
            } 
            .sizefoot div:nth-child(1){
            float: left;
            width: 30%;
            color: white;
            font-size: 30px;
            font-weight: bolder;
            font-family: 'Roboto', sans-serif;
            
            
            }
            .fonts{
            float: right;
            
            }
            .fonts i{
            color: #efefef;
            font-size: 40px;
            margin-left: 10px;
            margin-top: 8px;
            
            
            }
            .fonts i:hover{
            color: black;
            
            }
            
            .fonts a:nth-child(4){
            margin-right: 50px;
            }       
 }
 @media only screen and (max-width: 580px) {

    .menu{
        background-color: rgb(0, 0, 0);
        width: 99%;
        height: 100px;
    }

    
    .logo {
        font-size: 23px;
        font-weight: bolder;
        color: white;
        float: left;
        margin: 20px 3px 0px 3px;
        font-family: 'Cinzel', serif;
        text-decoration: none;
        text-shadow: 10px -6px 14px #f3c930;
        letter-spacing: 15px;
    
    }  
    
    .menutop{

        width: 70%;
        float: right;
        color: rgba(239,239,239,1);
        
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
    }
    .menutop div{
        float: right;
        font-size: 20px;
        margin: 20px 10px 0px 3px;
    
    }
    .menutop div:hover{
       color: #f3c930;
       cursor: pointer;
    
    } 
.login{
    display: none;
    width: 60%;
    right: 25%;
    height: 70%;
    position: absolute;
    z-index: 1000;

}
.fa-times{
    font-size: 30px;
    color: #000;
    float: right;
}
.fa-times:hover{

    opacity: .8;
    cursor: pointer;
   }
.form{
    display: none;
    width: 100%;
    padding: 40px 40px 48px;
    background-color: #FFF;
    height:390px;
    border-radius: 4px;
    box-shadow: black 0px 0px 12px 7px;
    position: relative;
}

.login input:nth-child(3),input:nth-child(4),input:nth-child(5){
    width: 100%;
    margin: 0;
    padding: 0 0 0 6px;
    height: 20px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    font-size: 12px;   
    margin-top: 5px; 
}

.forget{
    font-size: 12px;
    margin-top: 10px;
}
.apply{
    background-color: #f3c930;
    margin-top: 13px;
    color: #000;
    font-size: 13px;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    
}
.apply:focus{
    outline: none;
}
.apply:hover{
    background-color: #a38002;
}

.form2{
    width: 100%;
    background-color: #FFF;
    height:390px;
    border-radius: 4px;
    box-shadow: black 0px 0px 12px 7px;
    position: relative;
}




.apply2{
    background-color: #f3c930;
    margin-top: 5px;
    color: #000;
    font-size: 13px;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    
}
.apply2:focus{
    outline: none;
}
.apply2:hover{
    background-color: #a38002;
}
    .head{
        width: 100%;
        height: 150px;
        
        overflow: hidden;    
    
    }
    #right{
        left: 87%;
    }
    #left{
        right:  87%;
    }
    #right,#left{
        font-weight: 900;
        position: absolute;
        padding: 16px;
        color: #141414;
        font-size: 20px;
        top: 150px;
        z-index: 100;
    }
    
    .slides{
        width: 100%;
        position: relative;
        height: 170px;
      
    }
    
    
    
    .slides img{
        width: 100%;
        height: 170px;
        position: absolute;
    }
   
    
    .search{
        width: 100%;
        height: 50px;
        background-color: #141414;
        }
        .search input{
        width: 60%;
        height: 25px;
        position: relative;
        margin-top: 20px;
        background-color: #ececec;
        border-color:#9b9b9b ;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        }
        
        .search i{
        position:relative;
        font-weight: 900;
        right:  4%;
        font-size: 20px;
        color: #333333;
        cursor: pointer;
        }
        .search input:focus{
            outline: none;
        }
        .wordcenter{
            font-size: 20px; 
            color: #fff;
            text-transform: capitalize;
            font-family: 'Roboto', sans-serif;
            padding: 20px 10px;
            text-align: center;
        }
        .design{
            height: 300px;
            
        }
        
        .dropbtn {
            margin-left: 16px;
            background-color: #f3c930;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 4px;
          }
          
          .dropdown-content div{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .dropdown-content div:hover {
              background-color: #aaa6a6;
            }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
          
          .dropdown:hover .dropbtn {
            background-color: #a38002;
          }  
        
          .cardesign{
              float: right;
              width: 80%;
              height: 300px;
              position: relative;
              margin-right: 5px;
          }
          .car1,.car2,.car3,.car4,.car5,.car6,.car7,.car8,.car9,.car10,.car11,.car12,
          .car13,.car14,.car15,.car16{
              display: none;
              position: absolute;
            
          }
          .details{
              font-size: 25px;
              color: #fff;
              font-weight: 900;
        
          }
          .img{
              width: 90%;
              height: 300px;
          }
          .kiasize, .mercedsize, .audisize, .bmwsize{
              display: none;
          }
        
          .colorkiam,.colorkiaf,.colormercedm,.colormercedf,.coloraudim,.coloraudif,.colorbmwm,.colorbmwf{
              display: none;
          }
          .buy{
              float: right;
              width: 100px;
              height: 45px;
              background-color: #f3c930;
              border-radius: 17px;
              font-size: 19px;
              font-weight: 700;
              text-transform: capitalize;
            font-family: 'Roboto', sans-serif;
            margin-right:20px;
            border: none;
            outline: none;
            cursor: pointer;
            margin-bottom: 10px;
            visibility: hidden;
          }
          .buy:hover{
              background-color: #a38002;
              cursor: pointer;
        
          }
          .buy:focus{
              border: none;
              outline: none;
          }
          .soon{
              width: 95%;
              height: 300px;
              margin: auto ;
              position: relative;
              top: 170px;
              margin-bottom: 80px;
          }
          .carsoon{
              width: 100%;
            height: 100%;
              top: 20px;
              border-radius: 4px;
          }
          .wordsoon{
              position: absolute;
              font-size: 24px;
              font-weight: 500;
              color: black;
              top: 120px;
              left: 10px;
              letter-spacing: 10px;
              text-transform: uppercase;
        
        
          }
          
          .footer{
            background-color: #1e1e1e;
            width: 99%;
            height: 90px;
            float: left;
            overflow: hidden;
            
            }
            .sizefoot{
            float: right;
            width: 90%;
            height: 130px;
            } 
            .sizefoot div:nth-child(1){
            float: left;
            width: 30%;
            color: white;
            font-size: 25px;
            font-weight: bolder;
            font-family: 'Roboto', sans-serif;
            
            
            }
            .fonts{
            float: right;
            
            }
            .fonts i{
            color: #efefef;
            font-size: 30px;
            margin-left: 10px;
            margin-top: 8px;
            
            
            }
            .fonts i:hover{
            color: black;
            
            }
            
            .fonts a:nth-child(4){
            margin-right: 50px;
            }
    }
    @media only screen and (max-width: 437px) {

        .menu{
            background-color: rgb(0, 0, 0);
           width: 100%;
            height: 200px;
        }
    
        
        .logo {
            font-size: 20px;
            font-weight: bolder;
            color: white;
            font-family: 'Cinzel', serif;
            text-decoration: none;
            text-shadow: 10px -6px 14px #f3c930;
            letter-spacing: 15px;
        
        }  
        
        .menutop{
    
            color: rgba(239,239,239,1);
            text-transform: capitalize;
            font-family: 'Roboto', sans-serif;
        }
        .menutop div{
            font-size: 14px;
        
        }
        .menutop div:hover{
           color: #f3c930;
           cursor: pointer;
        
        } 
    .login{
        display: none;
        width: 60%;
        right: 15%;
        height: 80%;
        position: absolute;
        z-index: 1000;
    
    }
    .fa-times{
        font-size: 20px;
        color: #000;
        float: right;
    }
    .fa-times:hover{
    
        opacity: .8;
        cursor: pointer;
       }
    .form{
        display: none;
        width: 100%;
        padding: 40px 40px 48px;
        background-color: #FFF;
        height:390px;
        border-radius: 4px;
        box-shadow: black 0px 0px 12px 7px;
        position: relative;
    }
    
    .login input:nth-child(3),input:nth-child(4),input:nth-child(5){
        width: 100%;
        margin: 0;
        padding: 0 0 0 6px;
        height: 20px;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        font-size: 12px;   
        margin-top: 5px; 
    }
    
    .forget{
        font-size: 12px;
        margin-top: 10px;
    }
    .apply{
        background-color: #f3c930;
        margin-top: 13px;
        color: #000;
        font-size: 13px;
        height: 30px;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        
    }
    .apply:focus{
        outline: none;
    }
    .apply:hover{
        background-color: #a38002;
    }
    
    .form2{
        width: 100%;
        background-color: #FFF;
        height:390px;
        border-radius: 4px;
        box-shadow: black 0px 0px 12px 7px;
        position: relative;
    }
    
    
    
    
    .apply2{
        background-color: #f3c930;
        margin-top: 5px;
        color: #000;
        font-size: 13px;
        height: 30px;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        
    }
    .apply2:focus{
        outline: none;
    }
    .apply2:hover{
        background-color: #a38002;
    }
        .head{
            width: 100%;
            height: 150px;
            
            overflow: hidden;    
        
        }
        #right{
            left: 85%;
        }
        #left{
            right:  85%;
        }
        #right,#left{
            font-weight: 900;
            position: absolute;
            padding: 16px;
            color: #141414;
            font-size: 20px;
            top: 250px;
            z-index: 100;
        }
        
        .slides{
            width: 100%;
            position: relative;
            height: 170px;
          
        }
        
        
        
        .slides img{
            width: 100%;
            height: 170px;
            position: absolute;
        }
       
        
        
            .wordcenter{
                font-size: 20px; 
                color: #fff;
                text-transform: capitalize;
                font-family: 'Roboto', sans-serif;
                padding: 20px 10px;
                text-align: center;
            }
            .design{
                height: 300px;
                
            }
            
            .dropbtn {
                margin-left: 16px;
                background-color: #f3c930;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                border-radius: 10px;
              }
              
              .dropdown {
                position: relative;
                display: inline-block;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                border-radius: 4px;
              }
              
              .dropdown-content div{
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
              
              .dropdown-content div:hover {
                  background-color: #aaa6a6;
                }
              
              .dropdown:hover .dropdown-content {
                display: block;
              }
              
              .dropdown:hover .dropbtn {
                background-color: #a38002;
              }  
            
              .cardesign{
                 display: block;
                  width: 80%;
                  height: 300px;
                  position: relative;
                  margin-right: 5px;
              }
              .car1,.car2,.car3,.car4,.car5,.car6,.car7,.car8,.car9,.car10,.car11,.car12,
              .car13,.car14,.car15,.car16{
                  display: none;
                  position: absolute;
                
              }
              .details{
                  font-size: 25px;
                  color: #fff;
                  font-weight: 900;
            
              }
              .img{
                  width: 90%;
                  height: 300px;
              }
              .kiasize, .mercedsize, .audisize, .bmwsize{
                  display: none;
              }
            
              .colorkiam,.colorkiaf,.colormercedm,.colormercedf,.coloraudim,.coloraudif,.colorbmwm,.colorbmwf{
                  display: none;
              }
              .buy{
                  width: 80px;
                  height: 40px;
                  background-color: #f3c930;
                  border-radius: 17px;
                  font-size: 17px;
                  font-weight: 700;
                  text-transform: capitalize;
                font-family: 'Roboto', sans-serif;
                margin:auto;
                border: none;
                outline: none;
                cursor: pointer;
                margin-bottom: 10px;
                visibility: hidden;
              }
              .buy:hover{
                  background-color: #a38002;
                  cursor: pointer;
            
              }
              .buy:focus{
                  border: none;
                  outline: none;
              }
              .soon{
                  width: 95%;
                  height: 300px;
                  margin: auto ;
                  position: relative;
                  top: 170px;
                  margin-bottom: 80px;
              }
              .carsoon{
                  width: 100%;
                height: 100%;
                  top: 20px;
                  border-radius: 4px;
              }
              .wordsoon{
                  position: absolute;
                  font-size: 24px;
                  font-weight: 500;
                  color: black;
                  top: 120px;
                  left: 10px;
                  letter-spacing: 10px;
                  text-transform: uppercase;
            
            
              }
              
              .footer{
                background-color: #1e1e1e;
                width: 99%;
                height: 90px;
                float: left;
                overflow: hidden;
                
                }
                .sizefoot{
                float: right;
                width: 90%;
                height: 130px;
                } 
                .sizefoot div:nth-child(1){
                float: left;
                width: 30%;
                color: white;
                font-size: 25px;
                font-weight: bolder;
                font-family: 'Roboto', sans-serif;
                
                
                }
                .fonts{
                float: right;
                
                }
                .fonts i{
                color: #efefef;
                font-size: 30px;
                margin-left: 10px;
                margin-top: 8px;
                
                
                }
                .fonts i:hover{
                color: black;
                
                }
                
                .fonts a:nth-child(4){
                margin-right: 50px;
                }
        }
    